.main__articles{
    max-width: 986px;
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
    justify-content: space-between;
    justify-items: center;
    gap: 19px;
    row-gap: 20px;
}

.main__button{
    display: flex;
    padding: 12px 14px;
    align-items: flex-start;
    border: 1px solid var(--Cyan-800, #055160);
    background: var(--Cyan-800, #055160);
    color: var(---Gray-White, #FFF);
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    
    transition: 0.4s;
    margin: 0 auto;
    margin-bottom: 14px;
}
.main__text{
    display: flex;
    align-items: flex-start;
    font-family: 'Inter';
    color: var(--Cyan-800, #055160);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin: 0 auto;
    margin-bottom: 14px;
    justify-content: center;
}
.main__button:hover{
    color: var(--Cyan-800, #055160);
    background: var(---Gray-White, #FFF);
    cursor: pointer;
}

@media screen and (max-width:770px) {
    .main__articles{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        
    }
}

@media screen and (max-width:638px) {
    .main__articles{
            grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
        
    }
}

@media screen and (max-width:440px) {
    .main__articles{
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        
    }
}