*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Inter";
    src: url(/font/Inter-VariableFont_opsz.eot),
    url(/font/Inter-VariableFont_opsz.otf),
    url(/font/Inter-VariableFont_opsz.ttf),
    url(/font/Inter-VariableFont_opsz.woff),
    url(/font/Inter-VariableFont_opsz.woff2);
}

.container{
    max-width: 1440px;
    width: 100%;
    padding: 0 60px;
    margin: 0 auto;
}